.product-container{
    max-width: 1100px;
    margin: auto;
    padding: 10px;
    gap: 20px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .item-container{
        gap: 25px;
        width: 250px;
        border: 2px solid #d3d3d375;
        flex-direction: column;
        display: flex;
        position: relative;
        padding: 5px 0 20px 0;
        box-shadow: 0px 3px 4px 1px lightgrey;
        border-radius: 6px;
    
        .add-to-cart-none{
            display: none;
        }

        .add-to-cart-block{
            z-index: 2299;
            height: 134px;
            width: 243px;
            left: 3px;
            color: #2b6deb;
            background-color: #ffffffd1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            position: absolute;
            border-radius: 10px;
            opacity:0;
            transition:all 0.5s;
            
        }
        
        .add-to-cart-block:hover{
            opacity:1
        }

        .item-title-container{
            display: flex;
            flex-direction: column;
            gap:15px;
            align-items: center;
        }

        .item-image-container{
        border-bottom: 1px solid #d3d3d330;
        img{
            height: 130px;
        }


       

    }
    }


    .load-more{
        border-bottom: 2px solid blue;
        color: blue;
        margin-top: 40px;
    }
    
}